recursive-include collective *
recursive-include docs *
include *
recursive-exclude resources *
exclude *-mxdev.txt
exclude .installed.txt
exclude .*.js
exclude .prettierignore
exclude *.cfg
exclude *.js
exclude package.json
exclude pyproject.toml
global-exclude *.pyc
