recursive-include src *
recursive-include docs *
recursive-exclude resources *
include *.md
exclude .*.js
exclude .prettierignore
exclude *.cfg
exclude *.js
exclude *.txt
exclude *.lock
exclude Makefile
exclude package.json
exclude pyproject.toml
global-exclude *.pyc
